doc/ export-ignore
demo/ export-ignore
tests/ export-ignore
vendor/ export-ignore
README.* export-ignore
composer.* export-ignore
.gitignore export-ignore
.travis.yml export-ignore
phpunit.xml export-ignore
CHANGELOG.* export-ignore
.gitattributes export-ignore
.codeclimate.yml export-ignore

